.gitignore
.history/
*.pyc
build/
.git/
dist
urxe.egg-info/
list_of_robots.json
__pycache__
.venv/
.claude/
.pytest_cache/
__pycache__/
ur_12idb.egg-info/top_level.txt
ur_12idb.egg-info/SOURCES.txt
ur_12idb.egg-info/requires.txt
ur_12idb.egg-info/PKG-INFO
ur_12idb.egg-info/dependency_links.txt
